.swiper-container {
    padding-top: 0;
    width: '100vw';
}

.swiper-wrapper {
    margin: 0;
    padding-inline-start: 0;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
    color: indigo;
}