.demo-wrapper {
  background-color: rgb(255, 208, 0);
  color: black;
  outline: none;
  border: 0;
}
.demo-editor {
  background-color: rgb(255, 208, 0);
  color: black;
  outline: none;
  border: 0;
}
.demo-toolbar {
  background-color: rgb(255, 208, 0);
  color: black;
  outline: none;
  border: 0;
}
